body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
p{
    text-align: justify;
}
h1{
    font-size: 50px;
}
.name{

    color: orange;
}

.display-section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 3%;
}
.half-width img{
    width: 88%;
}
.HIRE_ME{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 4px;
    font-weight: 700;
    background-image: linear-gradient(rgb(240, 159, 122),tomato);
     
}
.HIRE_ME:hover{
     color: #616161;
     font-weight: 700;
     background-color: orangered;
     opacity: 0.8;
     transition: .6s;
}

.top_bennar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
div.half-width2{
    width: 50%;
    padding-right: 3%;
    padding-left: 5%;
    padding-top: 10%;
    text-align: justify;
}
.half-width2 img{
    width: 85%;
}
section.dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experiences{
    display:inline-block;
}
div.shadow{
    width: 40%;
    box-shadow:10px 10px 50px gray;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    margin-top: 2%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1%;
    border-left:1px tomato;
    border-radius: 15px;
}
.section3{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
div.shadow:hover{
    box-shadow: none;
}
.box{
    font-size: 40px;
}
#border{
    border-left:7px solid;
    border-image:linear-gradient(blue, rgb(238, 56, 56));
    border-image-slice: 1;
}
footer p {
    text-align: center;
    background-color: gray;
}